header{
    display: flex;
    justify-content: space-between;
    height: 70px;
    background-color: coral;
}
.descripcion{
    display: flex;
}
.logo{
    display: flex;
}
.video {
 display: flex;
}
