header{
    display: flex;
    justify-content: space-evenly;
    height: 70px;
    background-color: rgb(59, 87, 98);
}
.descripcion{ 
    display: flex;
    
}
.logo{
    display: flex;
}
.descripcion a{
    padding:10px ;
}   
.video{
    padding: 0px 100px;
    margin-top: 0px;
    margin-bottom: ;
}
body{
    background-color: firebrick;
}